*.ini
*.sig
*.emb
*.cf
/DATAR
/patch_old
/savedata
/patch
data.xp3
evimage.xp3
fgimage.xp3
readme.txt
voice.xp3
lavender_srp.exe
lavender_start.exe
SupportTools.exe
Uninstall.exe
ファイル破損チェックツール.exe
lavender.exe
/patch — копия
/patch2
/patch_orig
