*.ini
*.sig
*.emb
*.cf
/DATAR
/plugin
/patch_old
/savedata
/patch
data.xp3
evimage.xp3
fgimage.xp3
readme.txt
voice.xp3
version.dll
lavender_srp.exe
lavender_start.exe
SupportTools.exe
Uninstall.exe
ファイル破損チェックツール.exe
lavender.exe
