*.ini
*.sig
*.emb
*.cf
/DATAR
/patch_old
/savedata
/patch
data.xp3
evimage.xp3
fgimage.xp3
readme.txt
voice.xp3
lavender_srp.exe
lavender_start.exe
SupportTools.exe
Uninstall.exe
ファイル破損チェックツール.exe
lavender.exe
/patch — копия
plugin/extrans.dll
plugin/fstat.dll
plugin/kagexopt.dll
plugin/kernel32.dll
plugin/krmovie.dll
plugin/layerExBTOA.dll
plugin/layerExImage.dll
plugin/layerExRaster.dll
plugin/savestruct.dll
plugin/shrinkCopy.dll
plugin/win32dialog.dll
plugin/windowEx.dll
plugin/wuvorbis.dll
plugin/csvParser.dll
