<?xml version="1.0" encoding="utf-8"?>
<LEConfig>
  <Profiles>
    <Profile Name="le.config" Guid="" MainMenu="false">
      <Parameter>lavender.exe</Parameter> <!-- Replace Game.exe with your target executable (make sure it is a relative path from LELauncher) -->
      <Location>ja-JP</Location> <!-- Replace this with the appropriate location code E.g ja-JP for Japanese or zh-CN for Chinese -->
      <Timezone>Tokyo Standard Time</Timezone> <!-- Replace this with the appropriate timezone E.g. Tokyo Standard Time or China Standard Time -->
      <RunAsAdmin>false</RunAsAdmin>
      <RedirectRegistry>true</RedirectRegistry>
      <IsAdvancedRedirection>true</IsAdvancedRedirection>
      <RunWithSuspend>false</RunWithSuspend>
    </Profile>
  </Profiles>
</LEConfig>